<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%"> -->
            <table datatable [dtOptions]="dtOptions" class=" table-bordered display nowrap" cellspacing="0" width="100%" style="border-collapse: separate; border-spacing: 0px 20px; ">
                <thead style="background-color: #242a33; color: white;">
                    <tr>
                        <th>ID</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Role</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <!-- <tbody *ngFor="let user of users">
                    <tr>
                        <td>{{user.cedula}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.telefono}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.telefono}}</td>

                    </tr>

                </tbody> -->

            </table>

        </div>
    </div>
</div>