<div class="col-md-12">


    <div class="jumbotron jumbotron-fluid text-center ">

        <div class="container">


            <h3>Bienvenid@</h3>
            <p class="lead">Puede empezar presionando el boton Ver requerimientos</p>
            <p>

                <a [routerLink]="['/ver-solicitudes']" routerLinkActive="router-link-active" class="btn btn-outline-warning btn-lg">Ver requerimientos</a>

            </p>

            <p class="lead mt-5">Para mas información <a href="">Presione Aquí</a>

            </p>
        </div>
    </div>



</div>