<div class="col-md-12">


    <div class="jumbotron jumbotron-fluid text-center ">

        <div class="container">


            <h3>Solicite sus requerimientos en linea</h3>
            <p class="lead">Puedes empezar presionando el boton Solicitar</p>
            <p>

                <a [routerLink]="['/solicitar']" routerLinkActive="router-link-active" class="btn btn-outline-warning btn-lg">Solicitar</a>

            </p>

            <p class="lead mt-5">Para mas información <a href="">Presione Aquí</a>

            </p>
        </div>
    </div>



</div>