<div class="col-12">
    <div class="card-body col-xl-4 col-md-6 col-sm-12" style="margin: auto; display: block">
        <form style="margin: auto; display: block" class="align-content-center form-material" #InserCodePass="ngForm" (ngSubmit)="onSubmit(InserCodePass)">
            <h3 class="box-title m-b-20 text-center">Recuperar contraseña</h3>
            <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo.jpg" alt="Home" height="150px" width="150px" style="border-radius: 99px;" /><br/></a>
            <div class="form-group mt-4">
                <div class="col-xs-12">
                    <input class="form-control " type="text" placeholder="Ingrese su código de seguridad" name="codigo" #codigo="ngModel" [(ngModel)]="user.codigo" required>

                </div>
            </div>

            <div class="form-group text-center p-b-10">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="InserCodePass.invalid">Insertar código</button>
                    <br><br>

                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    ¿No recibió su código? <a [routerLink]="['/recuperar-contraseña']" routerLinkActive="router-link-active" class="text-primary m-l-5"><b>Reenviar código</b></a>
                </div>
            </div>

        </form>
    </div>
</div>